/*@font-face {*/
/*    font-family: Figtree;*/
/*    src: url('../fonts/Figtree-Medium.ttf');*/
/*}*/

.root {
    /*-fx-font-family: "Figtree";*/
    -fx-font-size: 12;
    -fx-font-weight: 400;
    -fx-background-color: rgb(38, 38, 38);
}

/* Remove the indentation at the top when pressing */
.button, .button:pressed {
    -fx-background-insets: 0;
}

.control-button {
    -fx-background-color: rgb(50, 50, 50);
    -fx-background-radius: 0;
    -fx-text-fill: rgb(150, 150, 150);
}
.control-button:hover {
    -fx-background-color: rgb(75, 75, 75);
    -fx-cursor: hand;
}
.control-button:disabled {
    -fx-opacity: 0.35;
}

#help-button {
    -fx-background-color: rgb(50, 50, 50);
    -fx-background-radius: 0;
    -fx-text-fill: rgb(150, 150, 150);
}
#help-button:hover {
    -fx-background-color: rgb(75, 75, 100);
    -fx-cursor: hand;
}

#status-label {
    -fx-text-fill: rgb(150, 150, 150);
}

#info-field {
    -fx-background-radius: 0;
    -fx-highlight-fill: rgba(150, 150, 150, 0.25);
    -fx-highlight-text-fill: rgba(150, 150, 150);
    -fx-wrap-text: true;
    -fx-text-fill: rgb(150, 150, 150);
    -fx-prompt-text-fill: rgb(150, 150, 150);

    -fx-background-color: rgb(75, 75, 75);

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
#info-field .content {
    -fx-background-radius: 0;
    -fx-background-color: rgb(50, 50, 50);
    -fx-padding: 10, 5, 10, 5;
}
#info-field:hover {
    -fx-background-color: rgb(100, 100, 100);
}
#info-field .scroll-bar:vertical {
    -fx-pref-width: 15;
    -fx-background-radius: 0;
    -fx-background-color: rgb(50, 50, 50);
}
#info-field .scroll-bar:vertical .increment-button, #info-field .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}
#info-field .scroll-bar:vertical .thumb {
    -fx-background-radius: 0;
    -fx-background-color: rgb(75, 75, 75);
}